body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #E6B9DE;
    font-family: 'Poppins', sans-serif;
}

.header-text{
    display: flex;
    font-size: 50px;
    justify-content: center;
    color: white;
    align-items: center;
}